<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="node_modules\animejs\lib\anime.min.js"></script>
    <script src="../scripts/ingame.js"></script>
    <title>Game</title>
    <link rel="stylesheet" href="../style/ingame.css" />
  </head>
  <body>
    <div class="guide"></div>
    <div class="scoreboard">
      <div class="nameA">
        <span class="name" id="teamA"></span>
      </div>
      <div class="nameB">
        <span class="name" id="teamB"></span>
      </div>

      <div class="scoreA">
        <div class="overlayA">
          <span id="overlayA"></span>
        </div>
        <span class="score" id="teamA_score"></span>
      </div>
      <div class="scoreB">
        <div class="overlayB">
          <span id="overlayB"></span>
        </div>
        <span class="score" id="teamB_score"></span>
      </div>

      <!-- 
        <div class="names" id="table">          
        </div>

        -->
    </div>
  </body>
</html>
